# yaml-language-server: $schema=https://raw.githubusercontent.com/Relativ-IT/Butane-Schemas/Release/Butane-Schema.json
variant: fcos
version: "1.5.0"
storage:
  directories:
    - path: /var/containers/secrets
    - path: /etc/vault-agent/config.d
    - path: /etc/containers/systemd/vault-agent.container.d
    - path: /var/containers/vault-agent/token
      mode: 0700
    - path: /etc/vault-agent/unwrapper
      mode: 0700
  files:
    - path: /var/containers/vault-agent/approle/roleid
      mode: 0644
      overwrite: true
      contents:
        inline: ${vault_roleid}
    - path: /etc/vault-agent/unwrapper/vault-unwrap-secretid.env
      mode: 0600
      contents:
        inline: |
          VAULT_TOKEN=${vault_wrapped_secretid}
          VAULT_ADDR=${vault_url}
    - path: /etc/vault-agent/unwrapper/unwrap-secretid.sh
      mode: 0755
      contents:
        source: data:${filebase64("${path.module()}/templates/files/unwrap-secretid.sh")}
    - path: /etc/vault-agent/config.d/agent.hcl
      mode: 0644
      overwrite: true
      contents:
        inline: |
          vault {
            address = "${vault_url}"
          }

          auto_auth {
            method "approle" {
              config = {
                role_id_file_path = "/vault/approle/roleid"
                secret_id_file_path = "/vault/approle/secretid"
                remove_secret_id_file_after_reading = false
              }
            }

            sinks {
              sink {
                type = "file"
                config = {
                  path = "/vault/token/vault-token"
                  mode = 0600
                }
              }
            }
          }

          listener "tcp" {
            address = "[::]:8299"
            role = "metrics_only"
            tls_disable = true
            unauthenticated_metrics_access = true
          }

          telemetry {
            prometheus_retention_time = "24h"
          }

          template_config {
            # renew leased secrets after half of ttl to have some spare time if it's broken
            lease_renewal_threshold = 0.5
          }
    - path: /etc/containers/systemd/vault-agent.network
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Network]
          IPv6=true
          Subnet=10.89.254.0/24
    - path: /etc/containers/systemd/vault-agent.pod
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Pod for all vault-agent related containers

          [Pod]
          Network=vault-agent.network
          PodmanArgs=--userns=auto --exit-policy=continue

          Volume=/var/containers/secrets:/vault/secrets:z,idmap
          Volume=/var/containers/vault-agent:/vault:Z,U
          Volume=/etc/vault-agent:/config:Z,U
    - path: /etc/containers/systemd/vault-agent.container
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Vault Agent
          After=network-online.target local-fs.target
          Wants=vault-unwrap-secretid.service
          Wants=podman-auto-update.timer
          # disable unit start rate limiting
          StartLimitIntervalSec=0

          [Container]
          Image=docker.io/hashicorp/vault:${vault_version}
          Pull=newer
          AutoUpdate=registry
          Entrypoint=vault
          Exec=agent -config=/config/config.d/
          PodmanArgs=--image-volume=ignore
          Notify=true
          LogDriver=journald

          AddCapability=IPC_LOCK

          Pod=vault-agent.pod

          [Service]
          Restart=always
          RestartSec=1s
          RestartSteps=10
          RestartMaxDelaySec=5m

          [Install]
          WantedBy=multi-user.target default.target
    - path: /etc/containers/systemd/vault-unwrap-secretid.container
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Vault: unwrap secretid before starting vault-agent

          After=network-online.target local-fs.target
          # disable unit start rate limiting
          StartLimitIntervalSec=0

          [Container]
          Image=docker.io/hashicorp/vault:${vault_version}
          Pull=newer
          Entrypoint=/usr/local/bin/unwrap-secretid.sh
          Exec=/vault/approle/secretid
          PodmanArgs=--image-volume=ignore
          LogDriver=journald

          EnvironmentFile=/etc/vault-agent/unwrapper/vault-unwrap-secretid.env
          Volume=/etc/vault-agent/unwrapper/unwrap-secretid.sh:/usr/local/bin/unwrap-secretid.sh:Z,U,ro

          AddCapability=IPC_LOCK

          Pod=vault-agent.pod

          [Service]
          Type=oneshot
          Restart=on-failure
          RestartSec=1s
          RestartSteps=10
          RestartMaxDelaySec=5m

          [Install]
          WantedBy=multi-user.target default.target
    - path: /etc/monitoring/alloy.d/vault-agent.alloy
      mode: 0644
      contents:
        inline: |
          prometheus.scrape "vault_agent" {
            forward_to = [
              prometheus.relabel.replace_instance.receiver,
            ]
            targets = [
              {
                "__address__" = "systemd-vault-agent:8299",
              },
            ]
            metrics_path = "/agent/v1/metrics"
            params = {
              "format" = ["prometheus"],
            }
          }
