# yaml-language-server: $schema=https://raw.githubusercontent.com/Relativ-IT/Butane-Schemas/Release/Butane-Schema.json
variant: fcos
version: "1.5.0"
storage:
  directories:
    - path: /var/containers/secrets
      user:
        id: 100
      group:
        id: 1000
    - path: /var/containers/vault-agent/config.d
      user:
        id: 1000
      group:
        id: 1000
    - path: /var/containers/vault-agent/token
      user:
        id: 100
      group:
        id: 1000
    - path: /var/containers/vault-agent/unwrapper
  files:
    - path: /var/containers/vault-agent/approle/roleid
      mode: 0644
      overwrite: true
      contents:
        inline: ${vault_roleid}
    - path: /var/containers/vault-agent/unwrapper/vault-unwrap-secretid.env
      mode: 0600
      overwrite: true
      contents:
        inline: |
          VAULT_TOKEN=${vault_wrapped_secretid}
          VAULT_ADDR=${vault_url}
    - path: /var/containers/vault-agent/config.d/agent.hcl
      mode: 0644
      overwrite: true
      contents:
        inline: |
          vault {
            address = "${vault_url}"
          }

          auto_auth {
            method "approle" {
              config = {
                role_id_file_path = "/vault/approle/roleid"
                secret_id_file_path = "/vault/approle/secretid"
                remove_secret_id_file_after_reading = false
              }
            }

            sinks {
              sink {
                type = "file"
                config = {
                  path = "/vault/token/vault-token"
                  mode = 0600
                }
              }
            }
          }

          template_config {
            # renew leased secrets after half of ttl to have some spare time if it's broken
            lease_renewal_threshold = 0.5
          }

    - path: /etc/containers/systemd/vault-agent.container
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Vault Agent
          After=network-online.target local-fs.target
          Wants=vault-unwrap-secretid.service
          Wants=podman-auto-update.timer
          # disable unit start rate limiting
          StartLimitIntervalSec=0

          [Container]
          Image=docker.io/hashicorp/vault:latest
          Pull=newer
          AutoUpdate=registry
          Entrypoint=
          Exec=vault agent -config=/vault/config.d/
          PodmanArgs=--image-volume=ignore
          Notify=true
          LogDriver=journald

          AddCapability=IPC_LOCK

          Pod=vault-agent.pod

          [Service]
          Restart=always
          RestartSec=1s
          RestartSteps=10
          RestartMaxDelaySec=5m

          [Install]
          WantedBy=multi-user.target default.target
    - path: /etc/containers/systemd/vault-unwrap-secretid.container
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Vault: unwrap secretid before starting vault-agent

          After=network-online.target local-fs.target
          # disable unit start rate limiting
          StartLimitIntervalSec=0

          [Container]
          Image=docker.io/hashicorp/vault:latest
          Pull=newer
          Entrypoint=
          Exec=sh -c 'if secret_id=$(vault unwrap --field secret_id); then echo "$secret_id" > /vault/approle/secretid; fi'
          PodmanArgs=--image-volume=ignore
          LogDriver=journald

          EnvironmentFile=/var/containers/vault-agent/unwrapper/vault-unwrap-secretid.env

          AddCapability=IPC_LOCK

          Pod=vault-agent.pod

          [Service]
          Type=oneshot
          Restart=on-failure
          RestartSec=1s
          RestartSteps=10
          RestartMaxDelaySec=5m

          [Install]
          WantedBy=multi-user.target default.target
    - path: /etc/containers/systemd/vault-agent.pod
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Unit]
          Description=Pod for all vault-agent related containers

          [Pod]
          Network=vault-agent.network
          PodmanArgs=--userns=auto --exit-policy=continue

          Volume=/var/containers/secrets:/vault/secrets:z,idmap
          Volume=/var/containers/vault-agent:/vault:Z,U

    - path: /etc/containers/systemd/vault-agent.network
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Network]
          IPv6=true
