{
	acme_ca ${acme_ca}
	auto_https disable_redirects
	servers {
		trusted_proxies static ${trusted_proxies}
	}
}

https://${fqdn}, https://${service_fqdn}, https:// {
	handle_errors {
		respond "Error {err.status_code} {err.status_text} on ${fqdn}"
	}

	@static path /assets/* /robots.txt /humans.txt /favicon.ico /apple-touch-icon.png

	file_server @static {
		root /zammad/opt/zammad/public
	}

	reverse_proxy /ws http://zammad-websocket:6042 {
		stream_timeout 24h
	}

	reverse_proxy /cable https://zammad-railsserver:3000 {
		stream_timeout 24h
	}

	reverse_proxy https://zammad-railsserver:3000 {
	}
}
